@charset "UTF-8";

main.cadastro {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

main.login {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: column;
}

h1.cadastro_title,
h1.login_title {
   color: rgb(45, 62, 81);
   font-size: 30px;
   margin-top: 40px;
   margin-bottom: -10px;
   font-weight: bold;
   text-transform: uppercase;
   width: 100%;
   text-align: center;
}

legend.form_legend {
   margin-top: 30px;
   margin-bottom: -5px;
   font-size: 24px;
   font-weight: bold;
   color: rgb(45, 62, 81);
}

fieldset#fieldset_contato {
   margin-top: 15px;
}

div#cadastro_interface {
   width: 60%;
}

div#contato_interface {
   width: 40%;
}

div#login_interface {
   width: 40%;
}

input.form_input,
select.form_select,
textarea.form_textarea {
   border: 2px rgb(45, 62, 81) solid;
   border-radius: 8px;
   padding: 5px;
   width: 100%;
   font-size: 15px;
   font-weight: 600;
   color: rgb(45, 62, 81);
   outline: none;
}

input.form_input:hover,
select.form_select:hover,
textarea.form_textarea:hover,
input.form_input_login:hover {
   box-shadow: 0px 0px 6px 2px rgba(45, 62, 81, 0.6);
}

input.form_input_login {
   border: 2px rgb(45, 62, 81) solid;
   border-radius: 8px;
   padding: 5px;
   width: 100%;
   font-size: 22px;
   text-align: center;
   font-weight: 600;
   color: rgb(45, 62, 81);
   outline: none;
   margin-top: 30px;
}

p.message_successful {
   color: rgb(45, 62, 81);
   font-size: 24px;
   width: 100%;
   text-align: center;
}

option {
   color: rgb(45, 62, 81);
   font-size: 15px;
   font-weight: 500;
}

label.input_legend {
   margin-top: 10px;
   font-size: 20px;
   font-weight: bold;
   color: rgb(45, 62, 81);
}

label.label_sexo {
   margin-bottom: 5px;
   font-size: 20px;
   font-weight: bold;
   color: rgb(45, 62, 81);
}

input.form_radio {
   margin-right: 3%;
   height: 18px;
   width: 18px;
   accent-color: rgb(45, 62, 81);
}

footer#btn_cadastrar {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

footer.form {
   margin-top: 2%;
   width: 100%;
   font-size: 20px;
   text-align: center;
   padding: 2vh 0;
   color: #f8f9fa;
   background-color: rgba(0, 0, 0, 0.5);
}

footer.form>a {
   text-decoration: none;
   color: white;
   margin: 0 1%;
   padding: 5px;
   border-radius: 5px;
}

footer.form>a:hover {
   color: rgb(45, 62, 81);
   background-color: #f8f9fa;
   transition: 0.2s;
}

button.botoes,
a.botoes {
   text-decoration: none;
   display: inline;
   font-size: 24px;
   font-weight: 600;
   border: 2px rgb(45, 62, 81) solid;
   border-radius: 15px;
   padding: 3px 10px;
   margin: 20px 20px 30px 20px;
   color: rgb(45, 62, 81);
   background-color: rgb(255, 255, 255);
}

button.botoes:hover,
a.botoes:hover {
   border: 2px #ffffff solid;
   color: #ffffff;
   background-color: rgb(45, 62, 81);
   transition-duration: 0.4s;
   cursor: pointer;
}

span.message_progress {
   display: inline-block;
   width: 100%;
   font-size: 20px;
   font-weight: bold;
   color: rgb(45, 62, 81);
   text-align: center;
   margin-bottom: 20px;
}

section.setion_1_identification {
   display: flex;
   justify-content: left;
   flex-direction: row;
}

div.div_column {
   width: 50%;
   padding: 0 2%;
}

div.div_column_2 {
   width: 100%;
   padding: 0 2%;
}

section.setion_1_address {
   display: flex;
   justify-content: left;
   flex-direction: row;
}

.pass {
   color: green;
   font-size: 10pt;
   word-break: break-all;
   border-radius: 10px;
   padding: 5px 10px;
   margin-bottom: -10pt;
}

.fail {
   color: red;
   font-size: 10pt;
   word-break: break-all;
   border-radius: 10px;
   padding: 5px 10px;
   margin-bottom: -10pt;
}

/* --------------------------- CORREÇÃO DE RESPONSIVIDADE --------------------------- */

@media(max-width: 550px) {

   h1.cadastro_title {
      font-size: 25px;
   }

   div#cadastro_interface,
   div#contato_interface {
      width: 80%;
   }

   div.espaco {
      height: 20vh;
   }

}