@charset "UTF-8";

/* Formatação Menu de botões das perguntas */

div#menu_perguntas {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
}

div.spacer {
    flex-grow: 1;
}

button.botoes_perguntas,
select.botoes_perguntas {
    margin: 0 5px;
    padding: 8px 16px;
    cursor: pointer;
}

label.label_menu_categoria {
    padding-left: 5px;
}

div.submenu_categorias {
    width: 200px;
    position: absolute;
    overflow: hidden;
    max-height: 0;
    transform: translateY(-10px);
    transition: max-height 0.8s ease, opacity 0.2s ease, transform 0.5s ease;
    background: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    padding: 0 10px;
    opacity: 0;
}

div.submenu_categorias.ativo_categorias {
    max-height: 500px;
    /* o suficiente para comportar todas as opções */
    padding: 10px;
    opacity: 1;
    transform: translateY(0);
}

/* Formatação Tabela */

h1.titulo_h1 {
    color: rgb(45, 62, 81);
    font-size: 40px;
    text-align: center;
}

table#topicos_tabela {
    width: 80%;
    margin: 0 10%;
}

thead#tabela_cabecalho {
    text-align: center;
}

tr {
    font-size: 15pt;
}

a.a_pergunta {
    font-style: italic;
    text-decoration: none;
    color: rgb(45, 62, 81);
    font-size: 15pt;
}

a.a_pergunta:hover {
    color: rgb(61, 85, 112);
    text-decoration: underline;
}

td.td_pergunta {
    padding-left: 10px;
    padding: 20px 0;
}

td.td_resposta {
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
}

td.td_curtidas,
td.td_atividade {
    text-align: center;
    font-size: 15pt;
}

th {
    padding: 20px;
    font-size: 15pt;
}

label.categoria_label {
    font-size: 12pt;
    color: rgb(45, 62, 81);
}

span.categoria_span {
    font-size: 12pt;
    color: rgb(45, 62, 81);
    padding: 5px;
}

table,
th,
td {
    border: 1px solid darkgray;
}

/* Formatação Formulário pergunta */

div.painel_formulario {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    border-top: 2px solid #ccc;
    padding: 20px;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1000;
}

div.painel_formulario.ativo_painel {
    transform: translateY(0);
}


button.responder {
    display: inline;
    font-size: 20px;
    margin: 10px 10px;
    width: 120px;
    border: 2px rgb(45, 62, 81) solid;
    border-radius: 15px;
    padding: 0px 0;
    color: rgb(45, 62, 81);
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}

button.responder:hover {
    border: 2px #ffffff solid;
    color: #ffffff;
    background-color: rgb(45, 62, 81);
    transition-duration: 0.4s;
    cursor: pointer;
}

button.botoes, a.botoes {
    text-decoration: none;
    display: inline;
    font-size: 18px;
    font-weight: 600;
    border: 2px rgb(45, 62, 81) solid;
    border-radius: 15px;
    padding: 3px 10px;
    margin: 5px 10px;
    color: rgb(45, 62, 81);
    background-color: rgb(255, 255, 255);
  }
  
  button.botoes:hover, a.botoes:hover {
    border: 2px #ffffff solid;
    color: #ffffff;
    background-color: rgb(45, 62, 81);
    transition-duration: 0.4s;
    cursor: pointer;
  }