@charset "UTF-8";

#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: -25px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    object-fit: cover;
    pointer-events: none;
    /* opcional, evita que o vídeo bloqueie cliques */
}

img#icone {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 8%;
    height: auto;
}

img#icone:hover {
    cursor: pointer;
    opacity: 0.6;
}

h1.h1_interface {
    color: rgb(255, 255, 255);
    text-align: left;
    width: 100%;
    padding-bottom: 1%;
    font-style: italic;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

/*------------------------------ INTERFACE ------------------------------*/

main.interface_dispositivo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div#moldura {
    margin: 5% 0;
    padding: 2%;
    padding-top: 1%;
    background-color: rgba(0, 153, 51, 0.8);
    border: 3px white solid;
}

div#interface {
    width: 800px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 1);
    padding: 1%;
}

fieldset {
    margin: 1% 2% 3% 2%;
    padding: 2%;
    border: 2px rgba(136, 136, 136, 0.8) solid;
}

legend {
    all: unset;
    color: rgb(49, 49, 49);
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    margin: 0 15px;
    padding: 0 5px;
}

label.info {
    font-weight: bold;
    text-align: center;
    color: rgb(49, 49, 49);
    margin: 1%;
    font-size: 15px;
    word-break: break-all;
}

input.btn {
    font-weight: bold;
    text-align: center;
    color: rgb(49, 49, 49);
    background-color: white;
    border-radius: 5px;
    border: 1px rgb(49, 49, 49) solid;
    width: auto;
    padding: 5px 10px;
    margin: 2%;
}

input.btn:hover {
    color: #ececec;
    background-color: #009933;
    border: 1px white solid;
    cursor: pointer;
}

input.range {
    accent-color: #009933;
    width: 60%;
    margin: 0 2%;
}

input[type=checkbox] {
    border: 0px;
    width: 18px;
    height: 23px;
    vertical-align: middle;
    accent-color: #009933;
}

input.chk {
    margin: 10% 5%;
}

select.selecoes {
    font-weight: bold;
    color: rgb(49, 49, 49);
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    margin: 0 2%;
}

select.selecoes:hover {
    color: #ececec;
    background-color: #009933;
    border: 1px white solid;
    cursor: pointer;
}

option.opt {
    color: rgb(49, 49, 49);
    font-size: 13px;
    font-weight: bold;
    background-color: white;
}

input.horarios {
    font-weight: bold;
    color: rgb(49, 49, 49);
    padding: 5px;
    margin: 4%;
    border-radius: 5px;
    border: 1px rgb(49, 49, 49) solid;
}

input.horarios:hover {
    color: #ececec;
    background-color: #009933;
    border: 1px white solid;
    cursor: pointer;
}

input.data {
    font-weight: bold;
    color: rgb(49, 49, 49);
    font-size: 15px;
    border-radius: 5px;
    padding: 5px;
    margin: 0 2%;
    border: 1px rgb(49, 49, 49) solid;
}

input.data:hover {
    color: #ececec;
    background-color: #009933;
    border: 1px white solid;
    cursor: pointer;
}

input.txt {
    background-color: white;
    color: rgb(49, 49, 49);
    font-size: 15px;
    border-radius: 5px;
    padding: 3px;
    margin: 1%;
    border: 1px rgb(49, 49, 49) solid;
}

/* Muda a cor de fundo do input */
input.txt:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

/* -----------------------  Acionar Zonas  -----------------------*/

section#section_1_acionar {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.divisao_1_acionar {
    width: 50%;
    text-align: center;
}

fieldset#Acionar_Zonas {
    padding: 5px;
}

div#divisao_2_acionar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    margin: 1% 3%;
    padding: 1% 0 2% 0;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

/* -----------------------  Gravar Programação  -----------------------*/
section#section_Nome_programar {
    padding: 1%;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

section#section_Nome_programar>label {
    margin-left: 8%;
}

input#gravar_Nome_Zona {
    width: 35%;
}

select#slt_programar_zona {
    padding: 3px;
    margin-bottom: 1%;
}

section#section_1_programar {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

div.divisao_1_programar {
    width: 25%;
    padding-left: 3%;
}

section#section_2_programar {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1% 3%;
    padding: 1% 0 2% 0;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

section#section_3_programar {
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

div.divisao_3_programar {
    width: 33%;
    text-align: center;
}

section#section_4_programar {
    width: auto;
    text-align: center;
}

/* -----------------------  Automatico  -----------------------*/
div.divisao_1_automatico {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.divisao_2_automatico {
    width: auto;
    text-align: center;
}

input.chk_sensor {
    margin-right: 4%;
}

/* -----------------------  Atraso de Regra  -----------------------*/

/* -----------------------  Iluminação  -----------------------*/
section#section_1_iluminacao {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

div.divisao_1_iluminacao {
    width: 25%;
    padding-left: 3%;
}

div.divisao_2_iluminacao {
    text-align: center;
}

input.horarios_ilu {
    font-weight: bold;
    color: rgb(49, 49, 49);
    padding: 5px;
    margin: 4% 10% 4% 0;
    border-radius: 5px;
    border: 1px rgb(49, 49, 49) solid;
}

section#section_2_iluminacao {
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
    border-radius: 10px;
}

div.divisao_2_iluminacao {
    width: 100%;
    text-align: center;
}

/* -----------------------  Configurar Wi-Fi  -----------------------*/
section#section_1_wifi {
    display: flex;
    justify-content: center;
}

div.divisao_1_wifi {
    width: 100%;
    text-align: center;
}

div.divisao_2_wifi {
    width: 50%;
    margin-left: 8%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

input#btn_wifi_conectar {
    margin: 0 0 2% 0;
}

input#btn_wifi_salvar {
    margin-left: 20%;
}

/* -----------------------  Saida JSON  -----------------------*/

pre#saida_json {
    font-size: 15px;
    font-weight: bold;
    color: rgb(49, 49, 49);
    margin: 1%;
    word-break: break-all;
}

/*-----------------------------------------------------------------------*/
/*------------------------ Formatação Rpdapé ------------------------*/

footer.assinatura {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    color: rgb(45, 62, 81);
    background-color: #f8f9fa;
    box-shadow: 0px 0px 5px 2px #286145;
    z-index: 5;
    opacity: 0.7;
    margin-top: 80px;
}

a.links {
    text-decoration: none;
    color: rgb(45, 62, 81);
    margin: 0 1%;
    margin-top: 50px;
}

a.links:hover {
    color: #198754;
    transition: 0.2s;
}